<h1>All Patients</h1>

<% @patients.each do |patient| %>
  <ul>
    <li>
      Name: <%= link_to patient.name, patient_path(patient) %>
      Number of Appointments: <%= patient.total_appointments %>
    </li>
  </ul>
<% end %>